body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.center{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
label.control-label , span.mdl-checkbox__label{
    font-size: 12px;
    color:rgb(63, 81, 181);
}
#filterButton{
    margin-top: 20px;
}
form{
    padding-left: 10px;
    padding-right: 10px;
}

#donut-scatter{
    display: inline;
}
#large-donut{
    display: inline;
}
.mdl-layout .mdl-layout__drawer-button::before{
  content: "Refine";
}
.mdl-layout .mdl-layout__drawer-button{
  font-size: 10pt;
  width: 50px;
}
.mdl-layout .mdl-layout__drawer-button .material-icons{
    display: none;
}