.verticesTooltip {
    position: absolute;
    color: black;
    font-size: 10px;
    width: 100px;
    height: auto;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    background: #f4f4f4;
}